<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hemnet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RadiusRealty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A0F7F94182B52D700A379A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0F7FB5182B52D700A379A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA00FB18BA8B3000EFE54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAA012A18BA8D2100EFE54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
